<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"><strong>Login</strong></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form1" ng-submit="doLogin()" ng-controller="Form1">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><strong>Email :</strong></span>
          <input type="text" ng-model="loginData.email" ng-keydown="validation_email(loginData.email)">
        </label>
        <strong class="validation" ng-show="error_email">{{validation_email_login}}</strong>
        <label class="item item-input">
          <span class="input-label"><strong>Password :</strong></span>
          <input type="password" ng-model="loginData.password" ng-keydown="validation_password(loginData.password)">
        </label>
        <strong class="validation" ng-show="error_pass">{{validation_pass_login}}</strong>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="btn_disabled"><strong>Log in</strong></button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
