<ion-view view-title="Accomodations" class="main">
  <ion-content>
  <div class="card">
    <div class="item item-text-wrap titles">
      <h2 class="titulo">where to live ?</h2>
      <h4 class="subTitulo">este es el nuevo template para el comienzo</h4>
    </div>
    <div class="item item-divider btnSearch">
      <button class="button button-block button-positive" ng-click="search()">
          <strong>Search Accomodations</strong>
      </button>
    </div>
  </div>
  </ion-content>
</ion-view>
